@import "../../../Styles/color";
.Offer-div {
  box-sizing: border-box;
  padding: torem(10px);
  height: torem(70px);
  width: torem(150px);
  background-color: #ffffff;
  border: 1px dashed black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: torem(5px);
  border-radius: torem(5px);
  font-family: poppins;
  font-size: torem(12px);
  margin-right: torem(5px);

  .promo {
    font-size: torem(16px);
    font-weight: 600;
  }
}

.AppliedOffer {
  background-color: aquamarine;
}
