@import "../../Styles/color";
.OrderSuccessPage-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
  font-family: poppins;
  flex-direction: column;
  h1 {
    position: relative;
    top: 0px;
    animation-name: jump;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition-property: top;
    transition-duration: 2s;
  }
  p {
    font-size: torem(12px);
  }
}

@keyframes jump {
  10% {
    top: torem(-150px);
  }
  20% {
    top: torem(0px);
  }
  30% {
    top: torem(-100px);
  }
  40% {
    top: torem(0px);
  }
  50% {
    top: torem(-50px);
  }
  60% {
    top: torem(0px);
  }
  70% {
    top: torem(-40px);
  }
  80% {
    top: torem(0px);
  }
  90% {
    top: torem(-25px);
  }
  100% {
    top: torem(0px);
  }
}
