.DelivaryAddress-div{
    font-family: poppins;
    padding: 10px 0px;
    h3{
        margin-bottom: 5px;
    }
    .formTo{
        font-size: 12px;
        span{
            font-weight: 600;
        }
    }
    .deliveryTime{
        margin-top: 10px;
        font-size: 11px;
        span{
            font-weight: 600;
        }
    }
}