@import "../../../../Styles/color";
.Search-div {
  display: grid;
  background-color: white;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: torem(3px);
  margin-bottom: torem(5px);
  border: 1px solid gray;
  input {
    border: none;
    height: torem(40px);
    outline: none;
    padding: 0px torem(5px);
  }
  i {
    cursor: pointer;
    height: torem(40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
