@import "../../Styles/color";
.OffersContainer-div {
  height: torem(150px);
  background-color: white;
  border: 1px solid gray;
  margin-bottom: torem(5px);

  h3 {
    display: flex;
    align-items: center;
    gap: torem(5px);
    padding: torem(10px);
    font-family: poppins;
    position: sticky;
    left: torem(10px);
    width: torem(200px);

    i {
      font-size: torem(22px);
      color: #f4884f;
    }
  }

  overflow-x: scroll;
  overflow-y: hidden;
}

.OffersContainer-div::-webkit-scrollbar {
  display: none;
}
.my-offers-div {
  display: inline-flex;
  margin: 0px torem(10px);
}
