@import "../../../../Styles/color";
.ProductPhoto-div {
  display: flex;
  flex-direction: column;
  height: torem(110px);
  width: torem(110px);
  font-family: poppins;
  .ProductPhoto-div-img {
    border-radius: torem(10px);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: torem(10px);
      height: torem(110px);
      width: torem(110px);
      object-fit: cover;
    }
  }
}
