.ProductPhoto-div {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 110px;
  font-family: poppins;
  margin-top: 5px;
  .ProductPhoto-div-img {
    border-radius: 10px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 10px;
      height: 110px;
      width: 110px;
      object-fit: cover;
    }
  }
}
