@import "../../../Styles/color";

.Order-div {
  padding: torem(10px);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: torem(10px);

  .Order-div__imgContainer {
    display: flex;
    gap: torem(5px);
    font-weight: 600;

    img {
      width: torem(100px);
      height: torem(100px);
      object-fit: cover;
      border-radius: torem(10px);
    }
  }

  progress {
    width: 50%;
  }

  .Order-div__priceContainer {
    text-align: end;
  }
}

.orderDetails {
  font-size: torem(12px);
  font-weight: 400;

}