@import "../../../../Styles/color";
.flipswitch {
  color: gray;
  height: torem(55px);
  background-color: white;
  padding-left: torem(20px);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid gray;
}
