.AddressCard-div {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  align-items: center;
  padding: 5px;
  .AddressCard-div__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    .AddressCard-div__NameContainer {
      p {
        &:first-child {
          font-weight: 600;
        }
      }
    }
    .AddressCard-div__addressContainer {
      p {
        &:last-child {
          font-weight: 600;
        }
      }
    }
  }
}
