.CartOffersAndCoupons-div {
  font-family: poppins;
  padding: 20px 0px;
  border-bottom: 1px solid #939393;
  .CartOffersAndCoupons-div-head {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    color: gray;
    i {
      font-size: 25px;
      color: #f3681f;
    }
  }
  .CartOffersAndCoupons-div-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin-left: 20px;
      font-size: 12px;
    }
    i {
      font-size: 20px;
      color: #f3681f;
    }
  }
}
