@import "../../../../Styles/color";

.Hambargar-div {
  padding: 0px torem(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    color: white;
    font-family: poppins;
    gap: torem(5px);

    img {
      width: torem(40px);
    }
  }

  i {
    color: white;
    font-size: torem(50px);
  }
}