@import "../../Styles/color";
.Header-div {
  height: 60px;
  background-color: black;
  box-shadow: 3px 3px 6px gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
