@import "../../../../Styles/color";
.GoToCart-div {
  bottom: torem(10px);
  position: fixed;
  height: torem(70px);
  left: 0px;
  right: 0;
}

.GoToCart-div-button {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: torem(25px);
  border: none;
  cursor: pointer;
  background-color: #e66158;
  border-radius: torem(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.GoToCart-div-button-CartPrice {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: torem(16px);
  .viewCart {
    font-size: torem(16px);
  }
  .moneyType {
    font-size: torem(11px);
  }
  .price {
    font-weight: 600;
    font-size: torem(16px);
  }
  .taxes,
  .totalItem {
    font-size: torem(12px);
  }
}

.GoToCart-div-button-ViewCart {
  display: flex;
  align-items: center;
  font-weight: 600;
}
