@import "../../../../Styles/color";
.User-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  i {
    font-size: 70px;
    color: rgb(0, 0, 0);
  }
}
