@import "../../../../Styles/color";
.ProductDetails-div {
  font-family: poppins;
  .productName {
    font-size: torem(22px);
    display: flex;
    align-items: center;
    gap: torem(5px);
    padding: torem(5px) 0px;
    font-weight: 600;
    i {
      color: green;
    }
  }
  .ProductDetails-price {
    font-size: torem(16px);
    padding-left: torem(5px);
  }
  .desc {
    padding-left: torem(5px);
    font-size: torem(12px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .likeShare {
    padding-left: torem(5px);
    margin-top: torem(10px);
    margin-left: torem(5px);
    display: flex;
    button {
      display: flex;
      border: none;
      justify-content: center;
      align-items: center;
      margin-right: torem(15px);
      padding: torem(8px);
      border-radius: torem(50px);
      color: #e66158;
      background-color: white;
      box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.395);
    }
  }
}
