@import "../../../../Styles/color";
.HambargarContainer-div {
  height: calc(100vh - torem(60px));
  background-color: rgb(0, 0, 0);
  width: 50vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid white;
}
